<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/alt-text -->
<main class="container mx-auto px-4 my-10">
  <h1 class="text-3xl font-bold text-gray-900 dark:text-white">Galeria<span
      class="text-yellow1-600">.</span></h1>
  <div class="filter-buttons my-5 flex justify-center">
    <button class="px-5 py-2 mx-1 border-none cursor-pointer"
      [ngClass]="{'bg-green-600 text-white': selectedCategory === 'all', 'bg-gray-300': selectedCategory !== 'all'}"
      (click)="filterSelection('all')">Show all</button>
    <button class="px-5 py-2 mx-1 border-none cursor-pointer"
      [ngClass]="{'bg-green-600 text-white': selectedCategory === 'nature', 'bg-gray-300': selectedCategory !== 'nature'}"
      (click)="filterSelection('nature')">Nature</button>
    <button class="px-5 py-2 mx-1 border-none cursor-pointer"
      [ngClass]="{'bg-green-600 text-white': selectedCategory === 'city', 'bg-gray-300': selectedCategory !== 'city'}"
      (click)="filterSelection('city')">City</button>
    <button class="px-5 py-2 mx-1 border-none cursor-pointer"
      [ngClass]="{'bg-green-600 text-white': selectedCategory === 'people', 'bg-gray-300': selectedCategory !== 'people'}"
      (click)="filterSelection('people')">People</button>
  </div>

  <div class="gallery grid grid-cols-2 md:grid-cols-3 gap-4">
    <div *ngFor="let photo of photos" class="photo border shadow-sm rounded-lg h-64 max-w-full"
      [ngClass]="{'hidden': !(photo.category === selectedCategory || selectedCategory === 'all')}">
      <img class="object-cover block cursor-pointer h-full w-full rounded-lg" [src]="photo.src" [alt]="photo.alt"
        (click)="openModal(photo)">
    </div>
  </div>

  <div id="myModal" class="modal fixed z-10 pt-24 left-0 top-0 w-full h-full overflow-auto bg-black bg-opacity-90"
    [ngStyle]="{'display': modalDisplay}">
    <span
      class="close absolute top-4 right-9 text-white text-4xl font-bold transition duration-300 hover:text-gray-400 cursor-pointer"
      (click)="closeModal()">×</span>
    <button
      class="absolute left-0 top-1/2 transform -translate-y-1/2 text-white text-4xl font-bold transition duration-300 hover:text-gray-400 cursor-pointer"
      (click)="prevImage()">❮</button>
    <img class="modal-content m-auto block w-4/5 max-w-3xl" id="img01" [src]="modalImgSrc" />
    <button
      class="absolute right-0 top-1/2 transform -translate-y-1/2 text-white text-4xl font-bold transition duration-300 hover:text-gray-400 cursor-pointer"
      (click)="nextImage()">❯</button>
    <div id="caption" class="m-auto block w-4/5 max-w-3xl text-center text-gray-400 py-2.5">{{modalCaption}}</div>
  </div>
</main>