<!-- <section
  class="bg-center bg-no-repeat bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/conference.jpg')] bg-gray-700 bg-blend-multiply">
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">
      Nós investir no potencial do mundo</h1>
    <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">Aqui na Flowbite nos concentramos
      em
      mercados onde a tecnologia, a inovação e o capital podem desbloquear valor a longo prazo e impulsionar o
      crescimento económico.</p>

  </div>
</section> -->

<section
  class="bg-bottom bg-[url('https://github.com/user-attachments/assets/dcd4a19e-8c42-48fd-951e-e85cd89f8b24')] bg-blend-multiply">
<main class="container mx-auto px-4 py-10 mb-10">
  <div class="flex">
    <div class="flex flex-col items-start justify-start mt-5">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-black md:text-5xl lg:text-6xl">Nós
        investir no potencial do mundo<span class="text-yellow1-500">.</span></h1>
      <p class="text-lg font-normal text-gray-300 lg:text-xl">Aqui na Flowbite nos concentramos
        em
        mercados onde a tecnologia, a inovação e o capital podem desbloquear valor a longo prazo e impulsionar o
        crescimento económico.</p>
    </div>
    <picture class="object-cover w-full px-40">
      <img src="https://github.com/user-attachments/assets/56671415-8317-4a32-b123-622649e1c867"
        alt="Bicicleta elétrica preta.">
    </picture>
  </div>
</main>
</section>