<!-- <section
  class="bg-center bg-no-repeat bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/conference.jpg')] bg-gray-700 bg-blend-multiply">
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 4xltext-4xl:py-56">
    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">
      Nós investir no potencial do mundo</h1>
    <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">Aqui na Flowbite nos concentramos
      em
      mercados onde a tecnologia, a inovação e o capital podem desbloquear valor a longo prazo e impulsionar o
      crescimento económico.</p>

  </div>
</section> -->

<section
  class="bg-bottom bg-no-repeat bg-[url('https://github.com/user-attachments/assets/642ebe15-1cf0-4bfa-b3d1-47afa58fee0d')] bg-blend-multiply">
  <main class="container mx-auto px-4 py-10 mb-10">
    <div class="flex">
      <div class="flex flex-col items-start justify-start mt-5">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-black md:text-5xl lg:text-6xl">Nós
          investir no potencial do mundo<span class="text-yellow1-500">.</span></h1>
        <p class="text-lg font-normal text-gray-300 lg:text-xl">Aqui na Flowbite nos concentramos
          em
          mercados onde a tecnologia, a inovação e o capital podem desbloquear valor a longo prazo e impulsionar o
          crescimento económico.</p>
      </div>
      <picture class="object-cover w-full px-40 z-0">
        <img src="https://github.com/user-attachments/assets/b607e198-56fc-41ac-ba58-8e3ca3362874" alt="dona lazara">
      </picture>
    </div>
  </main>
</section>