.sidebar {
  background-color: #1f2937; /* Dark gray background */
  height: 100vh; /* Full height */
  width: 16rem; /* Default width */
  display: flex;
  flex-direction: column;
  transition: width 0.3s;
  position: relative; /* To position the button absolutely */
}

.sidebar.collapsed {
  width: 4rem; /* Width when collapsed */
}

.logo-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #374151; /* Optional separator */
  position: relative; /* Relative to position the button inside it */
}

.logo {
  display: flex;
  align-items: center;
  color: #d1d5db; /* Light gray text */
  text-decoration: none;
}

.logo-img {
  width: 2rem; /* Adjust size */
  height: 2rem; /* Adjust size */
  border-radius: 50%;
}

.logo-name {
  margin-left: 0.5rem;
  font-size: 1.25rem; /* Larger font for logo name */
  font-weight: 600; /* Bold text */
}

.menu-list {
  padding: 1rem;
  list-style-type: none;
  margin: 0;
  flex-grow: 1; /* Grow to fill space between logo and logout */
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #d1d5db; /* Light gray text */
  font-size: 0.875rem; /* Text size */
  font-weight: 500; /* Font weight */
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  position: relative; /* For pseudo-element positioning */
}

.menu-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #374151; /* Separator color */
  transform: translateY(50%);
  z-index: 1; /* Ensure separator is below text */
}

.menu-item:first-child::before {
  display: none; /* Hide separator for the first item */
}

.menu-item:hover {
  background-color: #374151; /* Slightly lighter gray on hover */
  color: #ffffff; /* White text on hover */
}

.menu-item i {
  margin-right: 0.5rem;
}

.menu-item span {
  margin-left: 0.5rem;
}

.logout-form {
  margin-top: auto; /* Push logout button to bottom */
  padding: 1rem; /* Add some padding */
}

.logout-item {
  background-color: #ef4444; /* Red background for logout */
  color: #ffffff; /* White text for logout */
  border: none; /* Remove border */
}

.menu-toggle {
  background: #253142;
  border: none;
  color: #d1d5db;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 1rem;
  border-radius: 8px;
  height: 35px;
  width: 35px;
  position: absolute;
  transform: translateY(-50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: right 0.3s, background-color 0.3s;
}

.menu-toggle.open {
  right: -2rem; /* Adjust based on your collapsed menu width */
  top: 48px;
  z-index: 100;
  background-color: #374151; /* Darker background color when menu is open */
}

.menu-toggle.closed {
  right: -2rem; /* Adjust based on your collapsed menu width */
  top: 48px;
  z-index: 100;
  background-color: #253142; /* Default background color */
}
