<div class="mt-28 py-100 pt-0 pb-30 mb-5">
  <div class="container-xl mx-auto px-4">
    <div class="mb-20">
      <h1 class="mb-1 text-3xl font-bold text-gray-900 dark:text-white">Aniversáriantes do Mês</h1>
    </div>
    <div class="flex items-center justify-center gap-8">
      <div
        class="w-full max-w-sm h-36 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center">
          <div class="h-16">
            <img class="w-24 h-24 mb-3 rounded-full shadow-lg bottom-11 relative"
              src="https://t4.ftcdn.net/jpg/03/64/21/11/360_F_364211147_1qgLVxv1Tcq0Ohz3FawUfrtONzz8nq3e.jpg"
              alt="Bonnie image" />
          </div>
          <div class="flex justify-center items-center flex-col border-t-10 gap-2">
            <h5 class="text-xl font-medium text-gray-900 dark:text-white">Bonnie Green</h5>
            <span class="text-lg font-medium text-gray-900">🎉 13/05</span>
          </div>
        </div>
      </div>
      <div
        class="w-full max-w-sm h-36 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center">
          <div class="h-16">
            <img class="w-24 h-24 mb-3 rounded-full shadow-lg bottom-11 relative"
              src="https://t4.ftcdn.net/jpg/03/64/21/11/360_F_364211147_1qgLVxv1Tcq0Ohz3FawUfrtONzz8nq3e.jpg"
              alt="Bonnie image" />
          </div>
          <div class="flex justify-center items-center flex-col border-t-10 gap-2">
            <h5 class="text-xl font-medium text-gray-900 dark:text-white">Bonnie Green</h5>
            <span class="text-lg font-medium text-gray-900">🎉 13/05</span>
          </div>
        </div>
      </div>
      <div
        class="w-full max-w-sm h-36 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center">
          <div class="h-16">
            <img class="w-24 h-24 mb-3 rounded-full shadow-lg bottom-11 relative"
              src="https://t4.ftcdn.net/jpg/03/64/21/11/360_F_364211147_1qgLVxv1Tcq0Ohz3FawUfrtONzz8nq3e.jpg"
              alt="Bonnie image" />
          </div>
          <div class="flex justify-center items-center flex-col border-t-10 gap-2">
            <h5 class="text-xl font-medium text-gray-900 dark:text-white">Bonnie Green</h5>
            <span class="text-lg font-medium text-gray-900">🎉 13/05</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>