<main class="container mx-auto px-4 my-10 mb-5">
  <h1 class="text-3xl font-bold text-gray-900 dark:text-white my-5">Arvore Genialogica<span
      class="text-yellow1-600">.</span>
  </h1>
  <div
    class="flex justify-center items-center bg-center bg-contain bg-no-repeat bg-[url('https://github.com/user-attachments/assets/bf838caa-7244-4967-a47e-77e7917f6ca9')] bg-blend-multiply">
    <div class="genealogy-body genealogy-scroll">
      <div class="genealogy-tree">
        <ul>
          <li>
            <a href="javascript:void(0);">
              <div class="member-view-box">
                <div class="member-image">
                  <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png" alt="Member"
                    class="shadow-lg border">
                  <div class="member-details bg-black rounded-sm">
                    <h3 class="text-white font-bold">Member 1</h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="javascript:void(0);">
              <div class="member-view-box">
                <div class="member-image">
                  <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png" alt="Member"
                    class="shadow-lg border">
                  <div class="member-details bg-black rounded-sm">
                    <h3 class="text-white font-bold">Member 2</h3>
                  </div>
                </div>
              </div>
            </a>
            <span class="toggle-icon text-white font-bold text-2xl bg-red-dark-500 border relative cursor-pointer shadow items-center justify-center rounded-lg h-8 w-7 flex pl-0.5 closed">+</span>
            <ul>
              <li>
                <a href="javascript:void(0);">
                  <div class="member-view-box">
                    <div class="member-image">
                      <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png" alt="Member"
                        class="shadow-lg border">
                      <div class="member-details bg-black rounded-sm">
                        <h3 class="text-white font-bold">Member 3</h3>
                      </div>
                    </div>
                  </div>
                </a>
                <span class="toggle-icon text-white font-bold text-2xl bg-red-dark-500 border relative cursor-pointer shadow items-center justify-center rounded-lg h-8 w-7 flex pl-0.5 closed">+</span>
                <ul>
                  <li>
                    <a href="javascript:void(0);">
                      <div class="member-view-box">
                        <div class="member-image">
                          <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png" alt="Member"
                            class="shadow-lg border">
                          <div class="member-details bg-black rounded-sm">
                            <h3 class="text-white font-bold">Member 4</h3>
                          </div>
                        </div>
                      </div>
                    </a>
                    <span class="toggle-icon text-white font-bold text-2xl bg-red-dark-500 border relative cursor-pointer shadow items-center justify-center rounded-lg h-8 w-7 flex pl-0.5 closed">+</span>
                    <ul>
                      <li>
                        <a href="javascript:void(0);">
                          <div class="member-view-box">
                            <div class="member-image">
                              <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png"
                                alt="Member" class="shadow-lg border">
                              <div class="member-details bg-black rounded-sm">
                                <h3 class="text-white font-bold">Member 5</h3>
                              </div>
                            </div>
                          </div>
                        </a>
                        <span class="toggle-icon text-white font-bold text-2xl bg-red-dark-500 border relative cursor-pointer shadow items-center justify-center rounded-lg h-8 w-7 flex pl-0.5 closed">+</span>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <div class="member-view-box">
                    <div class="member-image">
                      <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png" alt="Member"
                        class="shadow-lg border">
                      <div class="member-details bg-black rounded-sm">
                        <h3 class="text-white font-bold">Member 3</h3>
                      </div>
                    </div>
                  </div>
                </a>
                <span class="toggle-icon text-white font-bold text-2xl bg-red-dark-500 border relative cursor-pointer shadow items-center justify-center rounded-lg h-8 w-7 flex pl-0.5 closed">+</span>
                <ul>
                  <li>
                    <a href="javascript:void(0);">
                      <div class="member-view-box">
                        <div class="member-image">
                          <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png" alt="Member"
                            class="shadow-lg border">
                          <div class="member-details bg-black rounded-sm">
                            <h3 class="text-white font-bold">Member 4</h3>
                          </div>
                        </div>
                      </div>
                    </a>
                    <span class="toggle-icon text-white font-bold text-2xl bg-red-dark-500 border relative cursor-pointer shadow items-center justify-center rounded-lg h-8 w-7 flex pl-0.5 closed">+</span>
                    <ul>
                      <li>
                        <a href="javascript:void(0);">
                          <div class="member-view-box">
                            <div class="member-image">
                              <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png"
                                alt="Member" class="shadow-lg border">
                              <div class="member-details bg-black rounded-sm">
                                <h3 class="text-white font-bold">Member 5</h3>
                              </div>
                            </div>
                          </div>
                        </a>
                        <span class="toggle-icon text-white font-bold text-2xl bg-red-dark-500 border relative cursor-pointer shadow items-center justify-center rounded-lg h-8 w-7 flex pl-0.5 closed">+</span>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li><li>
                <a href="javascript:void(0);">
                  <div class="member-view-box">
                    <div class="member-image">
                      <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png" alt="Member"
                        class="shadow-lg border">
                      <div class="member-details bg-black rounded-sm">
                        <h3 class="text-white font-bold">Member 3</h3>
                      </div>
                    </div>
                  </div>
                </a>
                <span class="toggle-icon text-white font-bold text-2xl bg-red-dark-500 border relative cursor-pointer shadow items-center justify-center rounded-lg h-8 w-7 flex pl-0.5 closed">+</span>
                <ul>
                  <li>
                    <a href="javascript:void(0);">
                      <div class="member-view-box">
                        <div class="member-image">
                          <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png" alt="Member"
                            class="shadow-lg border">
                          <div class="member-details bg-black rounded-sm">
                            <h3 class="text-white font-bold">Member 4</h3>
                          </div>
                        </div>
                      </div>
                    </a>
                    <span class="toggle-icon text-white font-bold text-2xl bg-red-dark-500 border relative cursor-pointer shadow items-center justify-center rounded-lg h-8 w-7 flex pl-0.5 closed">+</span>
                    <ul>
                      <li>
                        <a href="javascript:void(0);">
                          <div class="member-view-box">
                            <div class="member-image">
                              <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png"
                                alt="Member" class="shadow-lg border">
                              <div class="member-details bg-black rounded-sm">
                                <h3 class="text-white font-bold">Member 5</h3>
                              </div>
                            </div>
                          </div>
                        </a>
                        <span class="toggle-icon text-white font-bold text-2xl bg-red-dark-500 border relative cursor-pointer shadow items-center justify-center rounded-lg h-8 w-7 flex pl-0.5 closed">+</span>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <div class="member-view-box">
                    <div class="member-image">
                      <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png" alt="Member"
                        class="shadow-lg border">
                      <div class="member-details bg-black rounded-sm">
                        <h3 class="text-white font-bold">Member 3</h3>
                      </div>
                    </div>
                  </div>
                </a>
                <span class="toggle-icon text-white font-bold text-2xl bg-red-dark-500 border relative cursor-pointer shadow items-center justify-center rounded-lg h-8 w-7 flex pl-0.5 closed">+</span>
                <ul>
                  <li>
                    <a href="javascript:void(0);">
                      <div class="member-view-box">
                        <div class="member-image">
                          <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png" alt="Member"
                            class="shadow-lg border">
                          <div class="member-details bg-black rounded-sm">
                            <h3 class="text-white font-bold">Member 4</h3>
                          </div>
                        </div>
                      </div>
                    </a>
                    <span class="toggle-icon text-white font-bold text-2xl bg-red-dark-500 border relative cursor-pointer shadow items-center justify-center rounded-lg h-8 w-7 flex pl-0.5 closed">+</span>
                    <ul>
                      <li>
                        <a href="javascript:void(0);">
                          <div class="member-view-box">
                            <div class="member-image">
                              <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png"
                                alt="Member" class="shadow-lg border">
                              <div class="member-details bg-black rounded-sm">
                                <h3 class="text-white font-bold">Member 5</h3>
                              </div>
                            </div>
                          </div>
                        </a>
                        <span class="toggle-icon text-white font-bold text-2xl bg-red-dark-500 border relative cursor-pointer shadow items-center justify-center rounded-lg h-8 w-7 flex pl-0.5 closed">+</span>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <div class="member-view-box">
                    <div class="member-image">
                      <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png" alt="Member"
                        class="shadow-lg border">
                      <div class="member-details bg-black rounded-sm">
                        <h3 class="text-white font-bold">Member 8</h3>
                      </div>
                    </div>
                  </div>
                </a>
                <span class="toggle-icon text-white font-bold text-2xl bg-red-dark-500 border relative cursor-pointer shadow items-center justify-center rounded-lg h-8 w-7 flex pl-0.5 closed">+</span>
                <ul>
                  <li>
                    <a href="javascript:void(0);">
                      <div class="member-view-box">
                        <div class="member-image">
                          <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png" alt="Member"
                            class="shadow-lg border">
                          <div class="member-details bg-black rounded-sm">
                            <h3 class="text-white font-bold">Member 9</h3>
                          </div>
                        </div>
                      </div>
                    </a>
                    <span class="toggle-icon text-white font-bold text-2xl bg-red-dark-500 border relative cursor-pointer shadow items-center justify-center rounded-lg h-8 w-7 flex pl-0.5 closed">+</span>
                    <ul>
                      <li>
                        <a href="javascript:void(0);">
                          <div class="member-view-box">
                            <div class="member-image">
                              <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png"
                                alt="Member" class="shadow-lg border">
                              <div class="member-details bg-black rounded-sm">
                                <h3 class="text-white font-bold">Member 10</h3>
                              </div>
                            </div>
                          </div>
                        </a>
                        <span class="toggle-icon text-white font-bold text-2xl bg-red-dark-500 border relative cursor-pointer shadow items-center justify-center rounded-lg h-8 w-7 flex pl-0.5 closed">+</span>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>