<main class="container mx-auto px-4 my-10 mb-5">
  <h1 class="text-3xl font-bold text-gray-900 dark:text-white my-5">Arvore Genialogica<span
    class="text-yellow1-600">.</span>
  </h1>
  <div class="flex justify-center items-center bg-white border border-gray-200 rounded-lg shadow">
    <div class="genealogy-body genealogy-scroll">
      <div class="genealogy-tree">
        <ul>
          <li>
            <a href="javascript:void(0);">
              <div class="member-view-box">
                <div class="member-image">
                  <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png" alt="Member">
                  <div class="member-details">
                    <h3>Member 1</h3>
                  </div>
                </div>
              </div>
            </a>
            <ul>
              <li>
                <a href="javascript:void(0);">
                  <div class="member-view-box">
                    <div class="member-image">
                      <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png" alt="Member">
                      <div class="member-details">
                        <h3>Member 1</h3>
                      </div>
                    </div>
                  </div>
                </a>
                <ul>
                  <li>
                    <a href="javascript:void(0);">
                      <div class="member-view-box">
                        <div class="member-image">
                          <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png" alt="Member">
                          <div class="member-details">
                            <h3>Member 1-7</h3>
                          </div>
                        </div>
                      </div>
                    </a>
                    <ul>
                      <li>
                        <a href="javascript:void(0);">
                          <div class="member-view-box">
                            <div class="member-image">
                              <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png" alt="Member">
                              <div class="member-details">
                                <h3>Member 1-7-1</h3>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <div class="member-view-box">
                    <div class="member-image">
                      <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png" alt="Member">
                      <div class="member-details">
                        <h3>Member 2</h3>
                      </div>
                    </div>
                  </div>
                </a>
                <ul>
                  <li>
                    <a href="javascript:void(0);">
                      <div class="member-view-box">
                        <div class="member-image">
                          <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png" alt="Member">
                          <div class="member-details">
                            <h3>John Doe</h3>
                          </div>
                        </div>
                      </div>
                    </a>
                    <ul>
                      <li>
                        <a href="javascript:void(0);">
                          <div class="member-view-box">
                            <div class="member-image">
                              <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652__340.png" alt="Member">
                              <div class="member-details">
                                <h3>John Doe</h3>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>