/* Modal */
.modal {
  z-index: 10000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container da imagem e botões */
.modal .relative {
  position: relative;
  max-width: 65%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-items: center;
}

/* Imagem na modal */
.modal img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Botões dentro da modal */
.modal .close,
.modal .prev,
.modal .next {
  position: absolute;
  z-index: 10;
}

/* Botões de navegação */
.modal .prev,
.modal .next {
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 1px 1px 2px #000000, 0 0 1em #000000, 0 0 0.2em #000000;
}

/* Botão de fechar */
.modal .close {
  top: 1rem;
  right: 1rem;
  text-shadow: 1px 1px 2px #000000, 0 0 1em #000000, 0 0 0.2em #000000;
}

/* Estilização para hover nos botões */
.modal .close:hover,
.modal .prev:hover,
.modal .next:hover {
  color: #cccccc;
}

#myModal{
  z-index: 10000000;
}

/* Desabilitar scroll do body quando a modal está aberta */
.modal-open {
  overflow: hidden !important;
}

.photo {
  position: relative;
}

.photo img {
  transition: opacity 0.3s ease-in-out;
}

.photo:hover img {
  opacity: 0.7;
}

.photo .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.photo:hover .icons {
  opacity: 1;
}

.expand-icon,
.download-icon {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.expand-icon:hover,
.download-icon:hover {
  background-color: rgba(255, 255, 255, 1);
}
