.item {
  padding: 1rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

/* Estilizando o item do carrossel */
.p-carousel-item {
  height: 250px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* Estilizando o contêiner do carrossel */
.p-carousel {
  z-index: 40 !important;
}

/* Estilizando os indicadores (dots) */
.p-carousel-indicators {
  z-index: 50 !important;
}


.button, input:where([type=button]),
input:where([type=reset]),
input:where([type=submit]){
background-color: aqua !important;
}
